body {
    background-color: black;
}

a {
    color: black;
}

a:hover {
    color: goldenrod;
}

.text-a {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    color: white;
    background-color: black;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 0%;
    left: -1%;
}

.text-e {
    position: fixed;
    font-size: 140px;
    font-family: 'VT323', monospace;
    top: 78%;
    right: 87%;
    color: black;
}

.text-f {
    position: fixed;
    font-size: 40px;
    font-family: 'VT323', monospace;
    top: 10%;
    right: 35%;
    color: black;
}

.text-g {
    position: fixed;
    font-size: 40px;
    font-family: 'VT323', monospace;
    top: 88%;
    right: 4%;
    color: black;
}

.text-h {
    position: fixed;
    text-align: center;
    font-size: 25px;
    font-family: 'VT323', monospace;
    top: 15%;
    left: 0%;
    color: black;
}

.text-i {
    position: fixed;
    text-align: center;
    font-size: 25px;
    font-family: 'VT323', monospace;
    top: 30%;
    left: 0%;
    color: black;
}

.text-j {
    position: fixed;
    text-align: center;
    font-size: 25px;
    font-family: 'VT323', monospace;
    top: 45%;
    left: 0%;
    color: black;
}
.text-k {
    position: fixed;
    text-align: center;
    font-size: 25px;
    font-family: 'VT323', monospace;
    top: 65%;
    left: 0%;
    color: black;
}


.img1 {
    position: fixed;
    max-width: 20px;
    left: -.7%;
    z-index: 0;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}