body {
    background-color: black;
}

.title {
    position: fixed;
    font-size: 110px;
    top: 10%;
    right: 4%;
    font-family: 'VT323', monospace;
    color: white;
}

.text-a {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    color: white;
    background-color: black;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 0%;
    left: -1%;
}

.text-a2 {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    color: white;
    background-color: black;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 93.5%;
    left: -1%;
}

.text-b {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    top: 20%;
    right: 20%;
    color: white;
}

.text-c {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    top: 85%;
    right: 45%;
    color: white;
}

.text-d {
    position: fixed;
    font-size: 35px;
    font-family: 'VT323', monospace;
    top: 50%;
    right: 5%;
    color: white;
}

.text-e {
    position: fixed;
    font-size: 280px;
    font-family: 'VT323', monospace;
    top: 67%;
    right: 5%;
    color: white;
}

.text-f {
    position: fixed;
    font-size: 40px;
    font-family: 'VT323', monospace;
    top: 10%;
    right: 35%;
    color: black;
}

.text-g {
    position: fixed;
    font-size: 40px;
    font-family: 'VT323', monospace;
    top: 88%;
    right: 7%;
    color: black;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}
.circle{
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.bigger{
        background-color: yellow;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
